<%- include("./includes/head") %>
    <section class="details">
        <h1><%= post.title %></h1>
        <img src="<%= post.image_url %>" alt="<%= post.title %>" class="image">
        <p><%= post.description %></p>
    </section>
<% include("./includes/foot") %>
